{% extends 'main.html'%}
{% load static %}

{% block content %}

  <!-- Main Section -->
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{unreadCount}}</span>)</h3>

            <!---messages list starts here--->
          <ul class="messages">
          {% for message in messageRequest %}
          {% if message.is_read == False %}
              <li class="message message--unread">
                <a href="{% url 'message' message.id %}">
                  <span class="message__author">{{message.name}}</span>
                  <span class="message__subject">{{message.subject}}</span>
                  <span class="message__date">{{message.created}}</span>
                </a>
              </li>

          {% else %}
             <li class="message">
               <a href="{% url 'message' message.id %}">
                 <span class="message__author">{{message.name}}</span>
                 <span class="message__subject">{{message.subject}}</span>
                 <span class="message__date">{{message.created}}</span>
               </a>
             </li>
          {% endif %}
         {% endfor %}

      </ul><!---messages list ends here--->

    </div>
  </main>
  {% endblock content %}
