{% extends 'main.html' %}
{% block content %}
  <h2>Login</h2>
<form method="POST" action="{% url 'login' %}">
     {% csrf_token %}
      <p>

        <label for="username">
                Username:
        </label>

      </p>
      <p><input type="text" name = "username" placeholder="Username"/></p>
      <p>

        <label for="password">
                Password:
        </label>

      </p>
      <p><input type="password" name = "password" placeholder="Password"/></p>
      <p><input type="submit" value="Login" /></p>
      <p>
        Don't have an account?
        <a href="{%url 'register'%}">
          Sign up
        </a>
      </p>
      <a href="{%url 'request-reset-email'%}">
        Forgot password?
      </a>

</form>
{% endblock content %}
