{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Main Section -->
<main class="home">
  <section class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2 style = "color: #405d27;" >DEV <span style = "color: #d64161;">{'CONNECT'}</span></h2>
      </div>

      <div class="hero-section__search">
        <form class="form" action="" method="get">
          <div class="form__field">
            <label for="formInput#search">Search Developers </label>
            <input class="input input--text" id="formInput#search" type="text" name="search_query"
              value= "{{search_query}}" placeholder="Search by developer name"/>
          </div>

          <input class="btn btn--sub btn--lg" type="submit" value="Search" />
        </form>
      </div>
    </div>
  </section>
  <!-- Search Result: DevList -->
  <section class="devlist">
    <div class="container">
      <div class="grid grid--three">

        <!---here all the developers profiles will be shown in this heml page--->
        {% for profile in profiles %}
        <div class="column card">
          <div class="dev">
             <a href="{% url 'user-profile' profile.id %}" class="card__body"> <!---when clicked it should take us to the user profile page--->
              <div class="dev__profile">
                <img class="avatar avatar--md" src="{{profile.profile_image.url}}" alt="image" /> <!---profile picture of the user--->
                <div class="dev__meta">
                  <h3>{{profile.name}}</h3>
                  <h5>{{profile.short_intro|slice:"50"}}</h5>
                </div>
              </div>
              <p class="dev__info">
                {{profile.bio|slice:"150"}}... <!---This slice:"150" will cut anly show 150 characters long bio in the card inside this page for each of the users--->
              </p>
              <div class="dev__skills">
                {% for skill in profile.skill_set.all|slice:"5" %} <!---skill_set.all -> 'model name of the child'_set.all it gives us all of those models here from the skill child model--->
                    <span class="tag tag--pill tag--main">
                      <small>{{skill}}</small>
                    </span>
                {% endfor %}
              </div>
            </a>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>
</main>
{% endblock content %}
