{% extends "main.html" %}
{% block content %}
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}

    <input type="text" name = "username" placeholder="Username" value="{{data.username}}"/>
    <input type="email" name = "email" placeholder="email address" value="{{data.email}}"/>
    <input type="password" name = "password" placeholder="Password"/>
    <input type="password" name = "password2" placeholder="Confirm Password"/>
    <input type="submit" value="Register" />
    <p>
      Already have an account?
      <a href="{%url 'login'%}">
        Login
      </a>
    </p>
    <a href="#">
      Know more about us
    </a>
  </form>
{% endblock %}
