{% extends "main.html" %}
{% load static %}
{% block content %}
<div class="auth" >
  <div class="card" style = "background-color: #d5e1df;">
    <div class="auth__header text-center">
      <a href="/">
        <img src="{% static 'images/google-developers-1.svg' %}" style="height: 100px; width: 100px;" alt="icon" />
      </a>
      <h3>Provide your email to reset your password</h3>
    </div>
  <form method = "POST" class="form auth__form">

    {% csrf_token %}

    <div class="form__field">      
      <div class="form__field">
        <label for="formInput#email">Email Address: </label>
        <input
          class="input input--email"
          id="formInput#email"
          type="email"
          name="email"
          placeholder="e.g. user@domain.com"
          value="{{data.email}}"
        />
      </div>

    </div>

      <input type = "submit" class="btn btn--sub btn--lg" value = "send link">
  </form>
</div>
</div>
{% endblock %}
