{% extends "main.html" %}
{% load static %}
{% block content %}
<div class="auth">
  <div class="card" style = "background-color: #d5e1df;">

    <div class="auth__header text-center">
      <a href="/">
        <img  src="{% static 'images/google-developers-1.svg' %}" style="height: 100px; width: 100px;" alt="icon" />
      </a>
      <h3>Set a new password</h3>
    </div>

  <form action="{% url 'set-new-password' uidb64 token %}" method="post" class="form auth__form"> <!---sending the uidb64 and token to the SetNewPasswordView class in views.py via set-new-password url in urls.py file--->
    {% csrf_token %}

    <!-- Input:Password -->
    <div class="form__field">
      <label for="formInput#password">Password: </label>
      <input
        class="input input--password"
        id="formInput#passowrd"
        type="password"
        name="password_1"
        placeholder="••••••••"
      />
    </div>

    <!-- Input:Password -->
    <div class="form__field">
      <label for="formInput#confirm-password">Confirm Password: </label>
      <input
        class="input input--password"
        id="formInput#confirm-passowrd"
        type="password"
        name="password_2"
        placeholder="••••••••"
      />
    </div>

    <div class="auth__actions">
      <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
    </div>

  </form>
</div>
</div>
{% endblock %}
