{% extends 'main.html' %}
{% block content %}
<h1>Projects list</h1>
<hr>

<table>

  <tr>
    <th>Project</th>
    <th>Votes</th>
    <th>Positive Votes</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>
  {% for project in projects %}
  <tr>
    <td>{{project.title}}</td>
    <td>{{project.vote_total}}</td>
    <td>{{project.vote_ratio}}%</td>
    <td>{{project.created}}</td>
    <td><a href="{% url 'project' project.id %}">View Details</a></td>
    <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
    <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>    
  </tr>
  {% endfor %}
</table>
{% endblock content %}
