{% extends 'main.html' %}
{% load static %}
{% block content %}
  <!-- Main Section -->
  <main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Tools & Stacks</h3>
          <div class="singleProject__toolStack">
            {% for tag in projectObj.tags.all %}
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>{{tag}}</small>
                </span>
            {% endfor %}
        </div>
           {% if projectObj.source_link %}
               <a class="singleProject__liveLink" href="{{projectObj.source_link}}" target="_blank"><i class="im im-external-link"></i>Source Code
               </a>
           {% endif %}
           {% if projectObj.demo_link %}
               <a class="singleProject__liveLink" href="{{projectObj.demo_link}}" target="_blank"><i class="im im-external-link"></i>Demo Link
               </a>
           {% endif %}
        </div>

        <div class="column column--2of3">
          <img class="singleProject__preview" src="{{ projectObj.featured_image.url }}" alt="portfolio thumbnail" />
          <a href="{% url 'user-profile' projectObj.owner.id %}" class="singleProject__developer">{{projectObj.owner.name}}</a>
          <h2 class="singleProject__title">{{projectObj.title}}</h2>
          <h3 class="singleProject__subtitle">About the Project</h3>
          <div class="singleProject__info">
            {{projectObj.discription}}
          </div>

          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating">
              {{projectObj.vote_ratio}}% Postitive Feedback ({{projectObj.vote_total}} Vote{{ projectObj.vote_total|pluralize:'s' }})
            </h5>
            {% if request.user.profile.id in projectObj.riviewers %} <!---here make sure that the currently logged in user id does not exist in the riviewers list in Project model--->
                <p>you already voted for this project</p>
            {% elif request.user.profile == projectObj.owner %} <!---here we are making sure that you are not the project owner in other words project owners should be stopped from voting on their own projects--->
                <p>You cannot riview your own work</p>
            {% elif request.user.is_authenticated %} <!---here we wanna make sure that the user is authenticated or has an account and is logged in into the website--->
                <form class="form" action="{% url 'project' projectObj.id %}" method="POST">
                  {% csrf_token %}
                  <!-- Textarea -->
                  {% for field in form %}
                  <div class="form__field">
                    <label for="formInput#textarea">{{field.label}} </label>
                  {{field}}
                  </div>
                  {% endfor %}
                  <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
                </form>
            {% else %} <!---is user is not authenticated--->
                <a href="{% url 'login' %}?next={{request.path}}">You need to Login before you can leave a riview</a>  <!---?next={{request.path}} will allow us to redirect the user back to the project he was in after login---> 
            {% endif %}

            <!---comments list left the other users--->
            <div class="commentList">
              {% for riview in projectObj.riview_set.all %}
                  {% if riview.body %}
                   <div class="comment">
                     <a href="{% url 'user-profile' riview.owner.id %}">
                       <img class="avatar avatar--md"
                         src="{{riview.owner.profile_image.url}}" alt="user" />
                     </a>
                     <div class="comment__details">
                       <a href="{% url 'user-profile' riview.owner.id %}" class="comment__author">{{riview.owner.name}}</a>
                       <p class="comment__info">
                         {{riview.body|linebreaksbr}}
                       </p>
                     </div>
                     <p>
                       <a class="tag tag--pill tag--main settings__btn" href=""><i class="im im-edit"></i> Edit</a>
                     </p>
                    </div>
                  {% endif %}
              {% endfor %}

            </div> <!---comments list left the other users--->


          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
{% endblock content %}
