<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

    <title>DevSearch - Connect with Developers!</title>
  </head>
  <body>
    <!-- Header Section Navbar -->
    <header class="header">
      <div class="container container--narrow">
        <a href="{% url 'profiles' %}" class="header__logo">
         <img src="{% static 'images/google-developers-1.svg' %}" alt="Developer's Forum" />
        </a>
        <nav class="header__nav">
          <input type="checkbox" id="responsive-menu" />
          <label for="responsive-menu" class="toggle-menu">
            <span>Menu</span>
            <div class="toggle-menu__lines"></div>
          </label>
          <ul class="header__menu">
            <li class="header__menuItem"><a href="{% url 'profiles' %}">Developers</a></li>
            <li class="header__menuItem"><a href="{% url 'projects' %}">Projects</a></li>

            <!---access the user in our template --->
            {% if request.user.is_authenticated %}
            <li class="header__menuItem"><a href="{% url 'inbox' %}">Inbox</a></li>

            <li class="header__menuItem"><a href="{% url 'account' %}">My Account</a></li>

            <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Log out</a></li>

            {% else %}
            <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>

        {% if messages %}
           <ul class="messages">
           {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                  {{ message }}
              </li>
           {% endfor %}
           </ul>
        {% endif %}

    {% block content %}

    {% endblock content %}
  </body>
<!---add a javascript file here that will link our pagination and search forms in projects_list.html and developers.html pages--->
<script src="{% static 'js/main.js' %}" ></script>
</html>
