<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---create afilepath to our main.css in the static/styles/main.css folder--->
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css" media="screen" >
  </head>
  <body>
    <section class = "container-navbar">
      <img src="{% static 'images/google-developers-1.svg' %}" class = "website-main-logo-navbar-icon">
      <img src="{% static 'images/logo.png' %}" class = "website-main-logo-navbar-dev">
      <a href = "{% url 'create-project' %}">Add project</a>
    </section>
    <hr>
    {% block content %}

    {% endblock content %}
    <p>FOOTER</p>
  </body>
</html>
